<strong>Olá, {{user}}</strong>
<p>Seu e-mail foi cadastrado no MyPoints</p>
<p>
  <strong>Email: </strong> {{email}}<br/>
  <strong>Senha provisória: </strong> 6 primeiros digitos do seu cpf!<br/>
  <br/>
  <small>
    Baixe o aplicativo do MyPoints e acesse com o e-mail e senha provisória,
    depois altere sua senha!
  </small>

</p>
